.footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-top: solid 2px $terciario;
    margin-top: 1px;

    .arriba {
        text-decoration: none;
        color: $secundario;
        padding: 0.5rem;
    }

    .redes{
        &__icon {
            color: $secundario;
            }
        &__titulo {
                text-align: center;
            }
    }
    
    .mapa__titulo {
        padding: 0.5rem;
    }
}

// ---------footer index-------------

.footerindex__flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $secundario;

    .mapaindex__titulo {
        padding: 0.5rem;
        color: $primario;
    }

    .arribaindex {
        text-decoration: none;
        color: $primario;
        padding: 0.5rem;
    }

    .redesindex{
        &__titulo {
            text-align: center;
            color: $primario;
        }
        &__icon {
            color: $primario;
        }
    }

}

















