.navbar{
    &-brand img {
        width: 70px;
        height: 70px;
    }
    &-nav {
    
        & a {
            border: 2px solid rgba(0, 0, 0, 0.082);
            border-radius: 20px;
            transition: all 1s;
            margin: 5px;
    
            &:hover {
                border-color: #fff;
            }
        }
    
        .nav-link {
            color: white;
        }
    }
}

