.contenedor-card {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin-bottom: 10px;

    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

