.index__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 200px;
    grid-template-areas: "titulo titulo titulo"
        "texto texto vid";
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    padding: 5rem 0;
    justify-items: center;
    align-items: center;
    text-align: center;

    h1 {
        grid-area: titulo;
        text-align: center;
    }

    p {
        grid-area: texto;
    }

    .pintando {
        grid-area: vid;
    }
}